*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
ul,
li,
p{
    font-family: 'Montserrat';    
    font-size: 1.2rem;
    list-style: none;   
}   
body{
    margin-bottom: 100px;
} 
p{
    font-size: 1rem;
}
a{
    text-decoration: none; 
    text-transform: uppercase;
}

.logo-menu{
    color:#F29422;
    font-weight: bolder;
}

.header-menu {
    background-color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    color: #0079c7;
}
#banner{
    background-image: url(./assets/blue.jpeg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.banner_headline h1{
    color: #F29422;
    font-size: 55px;
    font-weight: 600;
    
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options{
    height: 100px;
    display: flex;
    max-width: 900px;
}
.banner1,
.banner2 {
    color: white;
    padding: 20px;
    font-weight: 400;  
}
.banner1{
    flex: 2;
    background-color: #39aae1;
}
.banner2{
    flex: 1;
    background-color: #0079c7;
}
#boxNewText{
    border:solid 2px white;
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#author{
    font-size: 14px;
    color: aquamarine;
    margin-left: 30vw;
    margin-top: 10px;

}